@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  color: black;
  border: 0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
}
.btn-primary {
  background-color: #202142;
}
.btn-secondary {
  background-color: #ff6a95;
}
.btn:hover {
  transform: scale(0.99);
  opacity: 0.9;
}
.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: default;
}

.Header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.Header h1 {
  color: #ff6a95;
}

.feedback-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}
.input-group input {
  width: 500px;
  border: none;
  outline: none;
  font-size: 20px;
}

.card {
  background-color: #fff;
  color: #333;
  margin: 20px 0;
  padding: 40px 50px;
  border-radius: 15px;
  position: relative;
}

.card h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}
[type='radio'] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
[type='radio']:checked ~ label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff6a95;
  display: grid;
  place-items: center;
}

.num-display,
.rating li {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.num-display:hover,
.rating li:hover {
  transform: scale(1.1);
  background-color: #ff6a95;
  transition: all 0.5s;
}
.num-display {
  display: grid;
  place-items: center;
  background-color: #ff6a95;
  position: absolute;
  top: -15px;
  left: -15px;
}
.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  cursor: pointer;
  border: none;
}

.message {
  text-align: center;
  color: rebeccapurple;
  padding-top: 20px;
}

.about-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

nav {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
